.full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  mat-card {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 600px;
  }
  
  mat-list-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
  }
  
  .select{
    margin-top: 20px;
  }